**<a href="https://www.kaggle.com/c/titanic">Соревнование</a> Kaggle "Titanic: Machine Learning from Disaster".**

In [ ]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier, export_graphviz

%matplotlib inline
import seaborn as sns
from matplotlib import pyplot as plt

**Функция для формирования csv-файла посылки на Kaggle:**

In [ ]:
def write_to_submission_file(
    predicted_labels,
    out_file,
    train_num=891,
    target="Survived",
    index_label="PassengerId",
):
    # turn predictions into data frame and save as csv file
    predicted_df = pd.DataFrame(
        predicted_labels,
        index=np.arange(train_num + 1, train_num + 1 + predicted_labels.shape[0]),
        columns=[target],
    )
    predicted_df.to_csv(out_file, index_label=index_label)

**Считываем обучающую и тестовую выборки.**

In [16]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [17]:
y = train_df["Survived"]

In [18]:
train_df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [19]:
train_df.describe(include="all")

        PassengerId    Survived      Pclass  ...        Fare        Cabin  Embarked
count    891.000000  891.000000  891.000000  ...  891.000000          204       889
unique          NaN         NaN         NaN  ...         NaN          147         3
top             NaN         NaN         NaN  ...         NaN  C23 C25 C27         S
freq            NaN         NaN         NaN  ...         NaN            4       644
mean     446.000000    0.383838    2.308642  ...   32.204208          NaN       NaN
std      257.353842    0.486592    0.836071  ...   49.693429          NaN       NaN
min        1.000000    0.000000    1.000000  ...    0.000000          NaN       NaN
25%      223.500000    0.000000    2.000000  ...    7.910400          NaN       NaN
50%      446.000000    0.000000    3.000000  ...   14.454200          NaN       NaN
75%      668.500000    1.000000    3.000000  ...   31.000000          NaN       NaN
max      891.000000    1.000000    3.000000  ...  512.329200          NaN       NaN

[11 rows x 12 columns]

In [20]:
test_df.describe(include="all")

        PassengerId      Pclass  ...            Cabin Embarked
count    418.000000  418.000000  ...               91      418
unique          NaN         NaN  ...               76        3
top             NaN         NaN  ...  B57 B59 B63 B66        S
freq            NaN         NaN  ...                3      270
mean    1100.500000    2.265550  ...              NaN      NaN
std      120.810458    0.841838  ...              NaN      NaN
min      892.000000    1.000000  ...              NaN      NaN
25%      996.250000    1.000000  ...              NaN      NaN
50%     1100.500000    3.000000  ...              NaN      NaN
75%     1204.750000    3.000000  ...              NaN      NaN
max     1309.000000    3.000000  ...              NaN      NaN

[11 rows x 11 columns]

**Заполним пропуски медианными значениями.**

In [21]:
train_df["Age"].fillna(train_df["Age"].median(), inplace=True)
test_df["Age"].fillna(train_df["Age"].median(), inplace=True)
train_df["Embarked"].fillna("S", inplace=True)
test_df["Fare"].fillna(train_df["Fare"].median(), inplace=True)

**Кодируем категориальные признаки `Pclass`, `Sex`, `SibSp`, `Parch` и `Embarked` с помощью техники One-Hot-Encoding.**

In [22]:
train_df = pd.concat(
    [
        train_df,
        pd.get_dummies(train_df["Pclass"], prefix="PClass"),
        pd.get_dummies(train_df["Sex"], prefix="Sex"),
        pd.get_dummies(train_df["SibSp"], prefix="SibSp"),
        pd.get_dummies(train_df["Parch"], prefix="Parch"),
        pd.get_dummies(train_df["Embarked"], prefix="Embarked"),
    ],
    axis=1,
)
test_df = pd.concat(
    [
        test_df,
        pd.get_dummies(test_df["Pclass"], prefix="PClass"),
        pd.get_dummies(test_df["Sex"], prefix="Sex"),
        pd.get_dummies(test_df["SibSp"], prefix="SibSp"),
        pd.get_dummies(test_df["Parch"], prefix="Parch"),
        pd.get_dummies(test_df["Embarked"], prefix="Embarked"),
    ],
    axis=1,
)

In [23]:
train_df.drop(
    [
        "Survived",
        "Pclass",
        "Name",
        "Sex",
        "SibSp",
        "Parch",
        "Ticket",
        "Cabin",
        "Embarked",
        "PassengerId",
    ],
    axis=1,
    inplace=True,
)
test_df.drop(
    [
        "Pclass",
        "Name",
        "Sex",
        "SibSp",
        "Parch",
        "Ticket",
        "Cabin",
        "Embarked",
        "PassengerId",
    ],
    axis=1,
    inplace=True,
)

**В тестовой выборке появляется новое значение Parch = 9, которого нет в обучающей выборке. Проигнорируем его.**

In [24]:
train_df.shape, test_df.shape

((891, 24), (418, 25))

In [25]:
set(test_df.columns) - set(train_df.columns)

{'Parch_9'}

In [26]:
test_df.drop(["Parch_9"], axis=1, inplace=True)

In [27]:
train_df.head()

    Age     Fare  PClass_1  ...  Embarked_C  Embarked_Q  Embarked_S
0  22.0   7.2500         0  ...           0           0           1
1  38.0  71.2833         1  ...           1           0           0
2  26.0   7.9250         0  ...           0           0           1
3  35.0  53.1000         1  ...           0           0           1
4  35.0   8.0500         0  ...           0           0           1

[5 rows x 24 columns]

In [28]:
test_df.head()

    Age     Fare  PClass_1  ...  Embarked_C  Embarked_Q  Embarked_S
0  34.5   7.8292         0  ...           0           1           0
1  47.0   7.0000         0  ...           0           0           1
2  62.0   9.6875         0  ...           0           1           0
3  27.0   8.6625         0  ...           0           0           1
4  22.0  12.2875         0  ...           0           0           1

[5 rows x 24 columns]

## 1. Дерево решений без настройки параметров

**Обучите на имеющейся выборке дерево решений (`DecisionTreeClassifier`) максимальной глубины 2. Используйте параметр `random_state=17` для воспроизводимости результатов.**

In [38]:
tree = DecisionTreeClassifier(max_depth=2, random_state=17)
tree.fit(train_df, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=2, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=17, splitter='best')

In [47]:
from sklearn.metrics import accuracy_score

**Сделайте с помощью полученной модели прогноз для тестовой выборки **

In [78]:
tree_pred = tree.predict(test_df)

**Сформируйте файл посылки и отправьте на Kaggle**

In [70]:
write_to_submission_file(tree_pred, 'titanic_pred.csv')

**Отобразите дерево с помощью `export_graphviz` и `dot`.**

In [1]:
from io import StringIO

import pydotplus

from ipywidgets import Image
from sklearn.tree import export_graphviz

dot_data = StringIO()
export_graphviz(tree, feature_names=["x1", "x2", "x3", "x4", "x5", "x6", "x7", "x8", "x9", "x10", "x11", "x12", "x13", "x14", "x15", "x16", "x17", "x18", "x19", "x20", "x21", "x22", "x23", "x24"], out_file=dot_data, filled=True)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
Image(value=graph.create_png())

#как сделать чтобы не прописывать признаки все ? в данном случае их было 24 и я прописала 24 икса )

ModuleNotFoundError: No module named 'pydotplus'

## 2. Дерево решений с настройкой параметров

**Обучите на имеющейся выборке дерево решений (`DecisionTreeClassifier`). Также укажите `random_state=17`. Максимальную глубину и минимальное число элементов в листе настройте на 5-кратной кросс-валидации с помощью `GridSearchCV`.**

In [71]:
from sklearn.model_selection import GridSearchCV, cross_val_score
tree_params = {"max_depth": list(range(1, 5)), "min_samples_leaf": list(range(1, 5))}

In [74]:
tree_grid = GridSearchCV(tree, tree_params, cv=5, n_jobs=-1, verbose=True)
tree_grid.fit(train_df, y)
tree_grid.best_params_

Fitting 5 folds for each of 16 candidates, totalling 80 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  80 out of  80 | elapsed:    0.4s finished

{'max_depth': 3, 'min_samples_leaf': 3}

In [75]:
accuracy_score(y, tree_grid.predict(train_df))

0.8237934904601572

**Сделайте с помощью полученной модели прогноз для тестовой выборки.**

In [79]:
tree_pred2 = tree_grid.predict(train_df)

**Сформируйте файл посылки и отправьте на Kaggle.**

In [2]:
write_to_submission_file(tree_pred2, 'titanic_tree_grid_pred.csv')

NameError: name 'write_to_submission_file' is not defined

## Ссылки:

 - <a href="https://www.kaggle.com/c/titanic">Соревнование</a> Kaggle "Titanic: Machine Learning from Disaster"
 - <a href="https://www.dataquest.io/mission/74/getting-started-with-kaggle/">Тьюториал</a> Dataquest по задаче Kaggle "Titanic: Machine Learning from Disaster"